@import '../../../styles//Variable/index';

.container-content {
  text-align: center;
  .main-content {
    color: $primary-color;
    font-size: 88px;
    line-height: 82px;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;

    &::after {
      content: '';
      background: url(../../../assets/img/Curve-shape.png) no-repeat top left;
      position: absolute;
      height: 88px;
      width: 89px;
      top: -7px;
      z-index: -1;
      left: -22px;
      @include contact-width {
        height: 45px;
        width: 45px;
        top: 1px;
        left: -10px;
        background-size: contain;
      }
    }
  }
}

