@import '../Variable/index';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.padding-top {
  padding-top: 124px;
  @media (min-width: 1580px) {
    padding-top: 130px;
  }
  @include contact-width {
    padding-top: 100px;
  }
  @include mobile {
    padding-top: 60px;
  }
}

.padding-bottom {
  padding-bottom: 130px;

  @include contact-width {
    padding-bottom: 100px;
  }
  @include mobile {
    padding-bottom: 60px;
  }
}
// h1
h1 {
  font-size: 8.8rem !important;
  line-height: 82px !important;
  color: $primary-color !important;
  font-weight: 700 !important;
  @include contact-width {
    font-size: 7.7rem !important;
    line-height: 74px !important;
  }
  @include tablet {
    font-size: 5.5rem !important;
    line-height: 50px !important;
  }
  @include mobile {
    font-size: 3.8rem !important;
    line-height: 40px !important;
  }
}
// h2
h2 {
  font-size: 5.5rem !important;
  font-size: 55px !important;
  line-height: 54px !important;
  font-weight: 700 !important;
  color: $secondary-color !important;
  margin-bottom: 24px !important;
  @include contact-width {
    font-size: 4.4rem !important;
    line-height: 50px !important;
  }
  @include tablet {
    font-size: 3.2rem !important;
    line-height: 36px !important;
    margin-bottom: 30px !important;
  }
  @include mobile {
    font-size: 2.8rem !important;
    line-height: 30px !important;
    margin-bottom: 15px !important;
  }
}
// h4
h4 {
  font-size: 2.6rem !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  color: $secondary-color !important;
  margin-bottom: 7px !important;
  @include tablet {
    font-size: 2rem !important;
    margin-bottom: 5px !important;
  }
  @include mobile {
    font-size: 2.4rem !important;
  }
}

// h5
h5 {
  color: $main-color !important;
  font-size: 2.4rem !important;
  line-height: 35px !important;
  font-weight: 500 !important;
  margin-bottom: 8px !important;

  @include tablet {
    font-size: 2.2rem !important;
    line-height: 30px !important;
  }
  @include mobile {
    font-size: 1.8rem !important;
    line-height: 18px !important;
  }
}

// P
p {
  font-size: 2.2rem !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: $text-color !important;
  margin-bottom: 14px !important;
  @include contact-width {
    font-size: 2rem !important;
    line-height: 28px !important;
  }
  @include tablet {
    font-size: 1.8rem !important;
    line-height: 26px !important;
  }
  @include mobile {
    font-size: 1.6rem !important;
    line-height: 26px !important;
    margin-bottom: 10px;
  }
}

.white {
  color: $primary-color !important;
}

// Swiper

// Swiper slider

.mySwiper {
  height: 400px;
  .swiper {
    width: 100%;
  }
}

// css pagtion swiper
.swiper {
  position: relative;
  padding: 0px 0px 100px 0 !important;

  .swiper-pagination {
    position: absolute;
    bottom: 80px !important;
  }
}

.swiper-button-next {
  transition: all 0.3s ease-in-out !important;
  &:hover {
    transform: translateX(5px);
  }
  &:hover::after {
    background-color: $button-color;
  }
}

.swiper-button-prev {
  transition: all 0.3s ease-in-out !important;
  &:hover {
    transform: translateX(-5px);
  }
  &:hover::after {
    background-color: $button-color;
  }
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(102, 102, 102, 0.4) !important;
  background-color: transparent !important;
  opacity: 1 !important;
  margin: 0 8px !important;
  transition: all 0.2s linear;
}

.swiper-pagination-bullet-active {
  background: #a3a3a3 !important;
  transform: scale(1.16);
  border: 1px solid transparent !important;
}

// css navigation swiper

.swiper-button-next,
.swiper-button-prev {
  width: unset !important;
  height: unset !important;
  transition: all 0.1s linear;
  border-radius: 50%;
}
.swiper-button-next {
  right: 320px !important;
  @include tablet {
    right: 200px !important;
  }
  @include mobile {
    right: 100px !important;
  }
  @media (max-width:575px) {
    right: 70px !important;
  }
}
.swiper-button-prev {
  left: 320px !important;
  @include tablet {
    left: 200px !important;
  }
  @include mobile {
    left: 100px !important;
  }
  @media (max-width:575px) {
    left: 70px !important;
  }
}

.swiper-button-next:after {
  content: '>' !important;
  font-size: 2.8rem !important;
  color: white !important;
  @include mobile {
    font-size: 2.2rem;
  }
}

.swiper-button-prev:after {
  content: '<' !important;
  font-size: 2.8rem !important;
  color: white !important;
  @include mobile {
    font-size: 2.2rem;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: unset !important;
  background-color: $main-color;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  @include flex();
  line-height: unset !important;
  color: black;

  @include mobile {
    width: 30px !important;
    height: 30px !important;
  }
}
