$height-header: 77px;

$mobile-width: 768px;
// $tablet-width: 1024px;
$tablet-width: 991px;
$contact-width: 1199px;

$pc-width: 1600px;

$main-color: #fa9f3c;
$primary-color: white;
$secondary-color: #031736;
$text-color:#6d7e99;
$button-color: #2880fc;
