@import '../../../styles/Variable/index';

.footer-main-con {
  position: relative;
  background: $secondary-color;
  background-size: cover;
  height: 400px;
  padding-top: 180px;
  overflow: hidden;
  margin-top: -380px;
  padding-bottom: 100px;
  width: 100%;
  // float: left;
  @include contact-width {
    height: 440px;
    padding-top: 220px;
  }
  @include tablet {
    padding-top: 180px;
  }
  @include mobile {
    margin-top: -180px;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 60px;
  }

  //   &::before {
  //     content: '';
  //     background: url(../../../assets//img//footer/Vector-Smart-left-Object-.png) no-repeat top left;
  //     position: absolute;
  //     width: 426px;
  //     height: 435px;
  //     left: -77px;
  //     top: 69px;
  //   }
  //   &::after {
  //     content: "";
  //     background: url(../../../assets//img//footer/Vector-Smart-right-Object-.png) no-repeat top right;
  //     position: absolute;
  //     width: 300px;
  //     height: 300px;
  //     top: 150px;
  //     right: 0;
  //     background-size: contain;
  //   }

  .footer-detail {
    figure {
      img {
      }
    }
    p {
      font-size: 18px !important;
      line-height: 28px !important;
      margin-left: 3px !important;
      font-weight: 500 !important;
      color: #97a5bb !important;
      @include mobile {
        margin-bottom: 30px !important;
      }
      br {
        @include mobile {
          display: none;
        }
      }
    }
  }
}

.footer-links {
  h4 {
    color: $primary-color !important;
  }
  .list-unstyled {
    li {
      font-size: 18px;
      line-height: 28px;
      position: relative;
      &::before {
        content: '';
        background: #97a5bb;
        position: absolute;
        height: 6px;
        width: 6px;
        border-radius: 50px;
        top: 9px;
        left: -13px;
        @include mobile {
          height: 0;
          width: 0;
        }
      }
      a {
        color: #97a5bb;
        text-decoration: none;
        margin-bottom: 4px;
        display: inline-block;
      }
    }
  }
}

.d-nones {
  @include mobile {
    display: none;
  }
}

.no-margin {
  margin-top: 0;
}
