@import '../../styles/Variable/index';

.sevices {
  background: url(../../assets/img/home/service-background-img.jpg) no-repeat center;
  background-size: cover;
}

.iframe {
  width: 100vw;
  height: 70vh;
}
